<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## MyFirstJupyterLab

### Introduction

## Languages used in Data Science

Python,Java,R,SQL,Scala,Julia,C,C++

## Libraries used in Data Science

Pandas,Numpy,scikit-learn,keras,tensorflow,matplotlib,seaborn

## Tools used in Data Science

* Jupyter Notebook
* RStudio
* Python
* SQL
* Apache Spark
* Apache Hadoop
* Tensorflow
* PyTorch
* Tableau
* PowerBI

## Arithmetic Example

In [2]:
(30+40)*15

1050

## Code cell to multiply and add numbers

In [3]:
20+40

60

In [4]:
30*40

1200

## Code cell to convert minute to hours

In [6]:
minute = 45
hour = minute / 60
hour

0.75

## Markdown cell to list objectives

Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)

Exercise 12 - Share your notebook through GitHub (3 pts)

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

## Markdown cell for Authors name

Özgür Ateş